NEXT_PUBLIC_FIREBASE_API_KEY=replace_me
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=replace_me.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=replace_me
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=replace_me.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=replace_me
NEXT_PUBLIC_FIREBASE_APP_ID=replace_me

# Mailgun (server-side)
MAILGUN_API_KEY=replace_me
MAILGUN_DOMAIN=mg.example.com
MAILGUN_FROM=logs@mg.example.com
MAILGUN_TO=admin@example.com
MAILGUN_SEND_MODE=immediate
# MAILGUN_SEND_MODE can be: immediate | daily
